.la-line-scale,
#nav .nav-list a.active,
#nav .nav-list a:hover,
.main-color {color: #089DCF; }
.main-color2 {color: #8CD441; }
.main-bg-color {background-color: #698cf0; }
.main-bg-color2 {background-color: #8CD441; }
.main-border-color {border-color: #8CD441; }